<form>
  <div class="form-group">
    <label for="exampleInputPassword1">Nhập từ khóa</label>
    <input type="text" name="q" class="form-control" id="exampleInputPassword1" placeholder="Nhật từ khóa...">
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>